<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Record</title>
    <link rel="stylesheet" type="text/css" href="css\style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<div id="touchvpn_icon_container" class="disconnected" draggable="true"
     style="right: 1.99203187% !important; bottom: 2.55102041% !important;">
    <div id="touchvpn_status_icon" class="touchvpn_in">

        <div class="page">
            <h1>UDairy</h1>
            <div class="navigation">

            </div>

            <div class="body">

                <h2>Add Record</h2>

                <form action="/login" method="post">
                    <dl>
                        <dt>Title:</dt>
                        <dd><input id="title" type="text" name="username" size="30" value=""></dd>
                        <dt>Body:</dt>
                        <dd><textarea id="body" cols="30" rows="5"></textarea></dd>
                    </dl>
                </form>
                <div class="actions"><button id="addButton"> Add </button></div>

            </div>
            <div class="footer">
                UDairy
            </div>
        </div>
    </div>
</div>

<script>

    document.getElementById("addButton").addEventListener("click", sendRecord)


    function sendRecord(){
    var title = document.getElementById("title").value;
    var body = document.getElementById("body").value;

    var obj = { title: title, body: body};




    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/add-record", true);
    xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

    // send the collected data as JSON
    xhr.send(JSON.stringify(obj));

    }


</script>

</body>
</html>
